@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
  --colorBackground: #FCFBFA;
  --colorNav: #F7F4F0;
  --colorAccentDark: #862020;
  --colorAccent: #c03d3d;
  --colorAccentLight: #D35D5C;
  --colorAccentInactive: #8f5d5d;
  --colorTextDark: #2e2828;
  --colorText: #4D4242;
  --colorTextLight: #827A79;
  --colorTextOpaque: #a09998;
  --colorTextSubtle: #c2bdbd;
  --colorBackdrop: rgba(0, 0, 0, .25);
  --colorHoverDark: rgba(0, 0, 0, .25);
  --colorHoverModerate: rgba(0, 0, 0, .225);
  --colorHover: rgba(0, 0, 0, .075);
  --colorHoverLight: rgba(0, 0, 0, .03);
}

html,
body {
  height: 100%;
  min-height: 850px;
}

body {
  background: var(--colorBackground);
  font-family: "Space Grotesk", sans-serif;
  color: var(--colorText);
  display: flex;
}

.hamburger-icon__wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-section,
.hamburger-button {
  overflow: hidden;
  --transitionTime: .75s;

  &>* {
    opacity: 0;
    transition: opacity 0s transform 0s;
    transform: translateY(1rem);
  }

  &.loaded>* {
    opacity: 1;
    transition: opacity var(--transitionTime) ease-out, transform var(--transitionTime) ease;
    transform: translateY(0rem);
  }
}

.hamburger-button {
  overflow: visible;
}

/* ----------------------------------- NAV ---------------------------------- */

.nav {
  background: var(--colorNav);
  min-width: 20rem;
  width: 20rem;

  height: 100%;
  padding: 3rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  user-select: none;
}

.nav__title {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: -.5rem;
}

.nav__title--first {
  text-transform: uppercase;
  font-weight: bold;

}

.nav__title--second {
  font-weight: lighter;
  color: var(--colorAccent);
}

.divider {
  border: 1px solid var(--colorTextOpaque);
  z-index: 2;
}

.nav__section {
  display: flex;
  flex-direction: column;
}

.nav__projects-wrapper {
  overflow: auto;
}

.nav__projects {
  width: 100%;
  height: 100%;
}

.nav__section-title {
  font-size: 1.25rem;
  margin: .5rem 0 -.5rem
}

.nav__item {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  position: relative;
  gap: 1rem;
  padding: .5rem;

  .nav__count {
    transition: .2s;
  }

  .nav__item-settings {
    transition: .15s;
  }

  &:hover {
    background: var(--colorHover);
    mix-blend-mode: multiply;
    cursor: pointer;

    .nav__count {
      transition: .15s;
    }

    .nav__item-settings {
      transition: .2s;
    }

    .nav__count {
      opacity: 0;
    }

    .nav__count.ignore {
      opacity: 1;
    }

    .nav__item-settings {
      opacity: 1;
    }
  }
}

.nav__item-setting {
  width: 1.675rem;
  height: 1.75rem;
  color: var(--colorTextOpaque);
  transition: .15s;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: .825rem;

  &:hover {
    color: var(--colorText);
  }
}

.nav__item-settings {
  position: absolute;
  right: 0;
  display: flex;
  /* gap: .125rem; */
  opacity: 0;
  margin-right: .1rem;
}

.nav__item-icon {
  width: 1rem;
  height: 1rem;
  /* background: var(--colorTextLight); */
  color: var(--colorTextLight);
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav__item-name {
  /* flex-grow: 1; */
  max-width: 65%;
  width: 100%;
}

.nav__count {
  gap: .75em;
  flex-grow: 1;

  &.count {
    justify-content: flex-end;
  }
}

.count {
  display: flex;
  text-align: right;
  font-family: "Space Mono", monospace;
}


.count--important {
  color: var(--colorAccentLight);
}

.count--default {
  color: var(--colorTextLight);
}

.nav__add-project {
  color: var(--colorTextLight);
}

/* ---------------------------------- MAIN ---------------------------------- */

.main {
  flex-grow: 1;
  padding: 1.5rem 2rem 3rem;
  display: flex;
  justify-content: center;
}

.main__wrapper {
  width: 100%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
}

.main__header {
  margin-top: calc(5.25rem - 2px);
  margin-bottom: 1rem;
  display: flex;
  align-items: flex-end;
  line-height: 1;
  gap: 1rem;
  /* position: relative; */
  padding: 0 1rem 0 2.875rem;
  flex-grow: 0;
}

.main__title {
  font-size: 2.5rem;
  padding-bottom: .125rem;
  margin-bottom: -.125rem;
}

.main__count {
  font-size: 2rem;
  gap: .5em;
  margin-bottom: 2px;
  flex-grow: 1;
}

.main__add-task {
  text-align: right;
  margin-bottom: -.25rem;
  color: var(--colorTextLight);
  right: 0;
  padding: .5rem 1rem;
  white-space: nowrap;

  &:hover {
    background: var(--colorNav);
    cursor: pointer;
  }
}

.main__tasks-wrapper {
  position: relative;
  margin-top: 1rem;
  height: 100%;
  overflow: auto;
}

.main__tasks {
  width: 100%;
  height: 100%;
}

.main__item {
  display: grid;
  grid-template-columns: auto 1fr auto auto;
  column-gap: 1rem;
  align-items: center;
  padding: 1rem 2rem 1rem 1rem;
  transition: all .1s, background-color .1s;

  &:hover {
    background: var(--colorNav);
    cursor: pointer;
  }

  &:hover>.main__item-setting {
    opacity: 1;
  }
}

.main__item-checkbox {
  grid-column: 1;
  grid-row: 2;
  width: 1rem;
  height: 1rem;
  border: 2px solid var(--colorTextLight);
  transition: .1s;
}

.main__item-duedate {
  grid-column: 2;
  font-size: .875rem;
  color: var(--colorTextLight);
  line-height: 1.3;
  letter-spacing: .01em;
}

.main__item-name {
  grid-column: 2;
  grid-row: 2;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 1.3;
}

.main__item-description {
  grid-column: 2;
  grid-row: 3;
  font-size: 1rem;
  /* line-height: 1.5; */
}

.main__item-setting {
  grid-row: 2;
  width: 2rem;
  height: 2rem;
  color: var(--colorTextOpaque);

  opacity: 0;
  margin-right: -1rem;
  transition: .1s;
  display: flex;
  justify-content: center;
  align-items: center;

  &+.main__item-setting {
    margin-right: 0rem;
  }

  &:hover {
    color: var(--colorText);
  }
}

.main__item--important {

  &,
  &>* {
    color: var(--colorAccent);
    border-color: var(--colorAccent);
  }

  .main__item-setting:hover {
    color: var(--colorAccentDark);
  }
}

.main__item.completed {
  --colorComplete: var(--colorTextLight);

  .main__item-name,
  .main__item-description {
    text-decoration: line-through;
  }

  &.main__item--important {
    --colorComplete: var(--colorAccentInactive);
  }


  &,
  &>* {
    color: var(--colorComplete);

  }

  .main__item-checkbox {
    border-color: var(--colorComplete);
    background-color: var(--colorComplete);
  }
}

/* ---------------------------------- POPUP --------------------------------- */

dialog:not([open]) {
  display: none !important;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -55%);
  background: var(--colorBackground);
  padding: 1.75rem 2.5rem;
  color: var(--colorText);
  display: flex;
  width: fit-content;
  flex-direction: column;
  gap: .625rem;
  border: none;
  box-shadow: 0 0 1rem 0 var(--colorHoverDark);
  z-index: 10;

  &::backdrop {
    background: var(--colorBackdrop);
  }
}

.popup__task {
  width: 700px;
  min-height: 390px;
  overflow: hidden;
}

.popup__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popup__exit {
  font-size: 1.5rem;
  color: var(--colorTextOpaque);
  transition: .15s;
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: -.5rem;

  &:hover {
    color: var(--colorText);
    cursor: pointer;
  }
}

.popup__input-area {
  position: relative;

  label {
    display: block;
    position: absolute;
    top: .5rem;
    padding: 0 .625rem;
    transition: .2s;

    color: var(--colorTextLight);

    span {
      position: relative;
      z-index: 2;
    }

    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 50%;
      right: 50%;
      background: var(--colorBackground);
      transition: .2s;
      z-index: 1;
    }
  }

  .popup__input:focus+label,
  .popup__input:not(:placeholder-shown)+label {
    top: -0.65rem;
    font-size: 0.8rem;
    /* color: var(--colorText); */

    &::before {
      /* width: calc(100% + .5rem); */
      left: .375rem;
      right: .375rem;
    }
  }
}

select.popup__input {
  border-radius: 0;
  background: transparent;
}

.popup__input {
  padding: 0 .625rem;
  border: 1px solid var(--colorTextOpaque);
  width: 100%;
  height: 100%;
  resize: none;
  background: var(--colorBackground);
  transition: .15s;
  outline: 1px solid transparent;

  &:focus {
    outline: 1px solid var(--colorTextLight);
    border-color: var(--colorTextLight);
    border-radius: 2px;

    &+label span {
      color: var(--colorText);
    }
  }
}

.popup__form {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-auto-rows: 2.5rem;
  gap: 1.75rem;
  margin: 1rem 0 5.5rem;
}

/* ------------------------------ POPUP PROJECT ----------------------------- */

.popup__project .popup__form {
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.popup__project .popup__input {
  height: 2.5rem;
}

.icon-options {
  display: flex;
  flex-wrap: nowrap;
  gap: .5rem;
  width: 100%;
}

.icon-options label {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid transparent;
  cursor: pointer;
  position: static;
  padding: .5rem;

  &::before {
    display: none;
  }
}

.icon-options input[type="radio"] {
  display: none;
  /* Hide the default radio */
}

.icon-options label {
  font-size: 1.25rem;
  color: var(--colorTextSubtle);
  transition: .15s;
  flex: 0 0 auto;

  i {
    transition: .15s;
  }

  &:hover {
    color: var(--colorTextLight);
    border-color: var(--colorTextSubtle);
  }
}

.icon-options input[type="radio"]:checked+i {
  color: var(--colorText);
}

.icon-options input[type="radio"]:checked~i {
  color: var(--colorText);
}

.icon-options label:has(input[type="radio"]:checked) {
  border-color: var(--colorText);
}

.popup__project {
  display: inline-flex;
  width: fit-content;

  width: 325px;

  .popup__btn {
    position: relative;
    width: fit-content;
    margin: 0;
  }

  .popup__form {
    margin-bottom: 1.5rem;
  }

  .icon-options {
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;

    label {
      flex: 0 0 calc(33.333% - .5rem);
      width: 1rem;
      height: 2.75rem;
      box-sizing: border-box;
    }
  }
}

.popup__input-icon {
  border: 1px solid var(--colorTextOpaque);
  align-self: stretch;
  justify-self: stretch;
  height: 100%;
  padding: .75rem;
  width: auto;
  min-width: 100%;
  margin-bottom: -.25rem;

  p {
    position: absolute;
    left: .75rem;
    top: -.675rem;
    font-size: .8rem;

    span {
      position: relative;
      z-index: 2;
      color: var(--colorTextLight)
    }

    &::before {
      content: "";
      background: var(--colorBackground);
      width: calc(100% + .75rem);
      transform: translateX(-.375rem);
      height: 20px;
      display: block;
      position: absolute;
      z-index: 1;
    }
  }
}

.popup__input-description {
  grid-row: 2 / span 2;
  justify-self: stretch;
  align-self: stretch;

  .popup__input {
    padding-top: .25rem;
    padding-bottom: .25rem;
    height: 100% !important;
    margin-bottom: 0;
  }
}

.popup__btn {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background: var(--colorText);
  color: var(--colorBackground);
  border: none;
  padding: .375rem 1.5rem;
  cursor: pointer;
  margin: 2.5rem 0;
  transition: .15s;

  &:hover {
    background: var(--colorTextLight);
  }
}

.popup__input-date {
  cursor: pointer;
}

.popup__input-isImportant {
  display: flex;
  grid-column: 2;
  grid-row: 3;
  /* justify-content: center; */
  margin-top: -.5rem;
  align-items: center;
  align-self: flex-start;
  justify-self: flex-start;

  .isImportant-label {
    position: relative;
    /* color: red; */
    cursor: pointer;
    padding-left: .25rem;
    color: var(--colorText);
  }

  /* The switch - the box around the slider */
  .switch {
    position: relative;
    display: inline-block;
    width: 3rem;
    height: 75%;
    margin-left: .25rem;

    &:hover .slider {
      background-color: var(--colorTextLight);
    }
  }

  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--colorTextSubtle);
    -webkit-transition: .4s;
    transition: all .4s, background-color .15s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: calc(100% - .5rem);
    width: calc(100% / 5 * 2);
    left: .25rem;
    bottom: .25rem;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }

  input:checked+.slider {
    background-color: var(--colorText);
  }

  input:checked+.slider:before {
    -webkit-transform: translateX(calc(100% + .125rem));
    -ms-transform: translateX(calc(100% + .125rem));
    transform: translateX(calc(100% + .125rem));
  }
}

/* ------------------------------ POPUP DELETE ------------------------------ */

.popup__delete {

  .popup__btn {
    position: static;
    transform: translate(0);
    left: initial;
  }

  p {
    text-align: center;
  }
}

.popup__info-upper {
  font-size: 1.25rem;
  white-space: nowrap;
}

.popup__info-lower {
  font-size: 1rem;
  color: var(--colorTextLight)
}

.popup__body {
  display: flex;
  flex-direction: column;
  gap: .25rem;
  margin-top: 1rem;
  /* padding: 0 1rem; */
  width: min-content;
}

.popup__buttons {
  display: flex;
  gap: 2rem;
  width: 100%;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 1.5rem;

  .btn {
    margin: 0;
    position: relative;
  }
}

.btn.btn--light {
  background: var(--colorBackground);
  border-color: var(--colorText);
  color: var(--colorText);

  &:hover {
    background-color: var(--colorTextSubtle);
  }
}

.btn {
  border: 1px solid var(--colorText);

  &:hover {
    border-color: var(--colorTextLight);
  }
}

/* ------------------------------ NOTIFICATIONS ----------------------------- */

.notifications {
  display: flex;
  flex-direction: column;
  position: fixed;
  gap: 1.5rem;
  right: 2rem;
  top: 2.5rem;
  z-index: 10;
  align-items: end;
  width: fit-content;
}

.notification {
  font-size: .875rem;
  transform: translateX(125%);
  width: fit-content;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background: var(--colorNav);
  padding: .375rem 1.25rem;
  font-weight: 500;
  letter-spacing: .01em;
  box-shadow: 0 0 .25rem 0 var(--colorHoverModerate);
  transition: transform 1s;
  /* opacity: .75; */

  &.show {
    transform: translateX(0);
  }

}

.notification__exit {
  font-size: 1.5em;
  margin-bottom: .125em;
  font-weight: normal;
  color: var(--colorTextOpaque);
  cursor: pointer;
  transition: .15s;

  &:hover {
    color: var(--colorTextDark)
  }
}

.notification__icon {
  color: var(--colorTextLight);
  margin-right: -.25rem;
}

/* --------------------------------- CREDITS -------------------------------- */

.nav__demo-buttons {
  margin-top: .5rem;
  margin-bottom: -1rem;
  flex-grow: 1;
  justify-content: flex-end;
  color: var(--colorTextLight);

  .nav__item {
    justify-content: flex-start;
  }

  .nav__item-icon {
    color: inherit;
  }
}

.credits {
  font-size: 1.125em;
  margin-left: .5rem;
  margin-top: .675rem;
}

.credits__upper {
  font-size: calc(.75em + 1px);
  letter-spacing: .01em;
  margin-left: 2rem;
  color: var(--colorTextOpaque);
}

.credits__name,
.credits__link {
  color: var(--colorTextLight);
}

.credits__name,
.credits__link {
  transition: .15s;

  &:hover {
    color: var(--colorTextDark);
  }
}

.credits__link {
  display: inline-block;
  transform: scale(1);
  margin-right: .5rem;
  transition: transform .25s;

  &:hover {
    transform: scale(1.1);
  }
}

/* ---------------------------------- UTILS --------------------------------- */

.bold {
  font-weight: bold;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* -------------------------------- SIMPLEBAR ------------------------------- */

/* Scrollbar track */
.nav__projects-wrapper .simplebar-track.simplebar-vertical {
  width: calc(.625rem);
  opacity: .4;
}

.simplebar-track.simplebar-vertical {
  background: var(--colorNav);
  width: .75rem;
  /* margin-top: 1rem; */
  opacity: 1;
}

/* Scrollbar thumb */
.simplebar-scrollbar {
  cursor: pointer;

  &::before {
    content: '';
    background: var(--colorTextLight);
    border-radius: 0;
    transition: background-color 0.2s ease;
    pointer-events: auto;
  }
}

/* Hover state (target the scrollbar, not the pseudo-element) */
.simplebar-scrollbar:hover::before {
  background-color: var(--colorText);
}

/* Dragging state */
.simplebar-dragging .simplebar-scrollbar::before {
  background-color: var(--colorTextDark);
}


[data-simplebar]:has(.simplebar-track.simplebar-vertical[style*="visibility: visible"]) .simplebar-content {
  margin-right: 1.125rem;
}

.nav__projects-wrapper:has(.simplebar-track.simplebar-vertical[style*="visibility: visible"]) .simplebar-content {
  margin-right: .875rem;
}

/* ----------------------------- RESPONSIVENESS ----------------------------- */

:root {
  --responsiveTransition: .5s;
  --navTransitionProps: font-size, margin, padding, width, transform, box-shadow;
  --navSmallWidth: 17rem;
}

.hamburger-button {
  position: absolute;
  left: 33vw;
  top: 7.25rem;
  font-size: 1.75rem;
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 2;
  color: var(--colorTextLight);
  transform: translateX(0);
  opacity: 0;

  &:hover {
    color: var(--colorTextDark);
    font-size: 1.675rem;
  }

  .icon-default,
  .icon-close {
    position: absolute;
    transition: var(--responsiveTransition);
  }

  .icon-default {
    opacity: 1;
  }

  .icon-close {
    opacity: 0;
  }
}

.nav {
  transform: translateX(0);
  z-index: 1;
  box-shadow: var(--colorHoverModerate) 0 0 0 0;
}

.nav,
.nav__item,
.nav__item-icon,
.credits__upper,
.nav h1,
.main,
.main__title,
.main__item,
.main__count,
.main__item-description,
.main__item-duedate,
.main__item-name,
.main__item-setting {
  transition-duration: var(--responsiveTransition);
  transition-property: var(--navTransitionProps);
}

.main__title,
.main__count {
  transition: opacity .4s .3s;
}

.hamburger-button {
  transition: left var(--responsiveTransition), top var(--responsiveTransition), opacity 0s 0s, color .15s, font-size .15s, transform var(--responsiveTransition);
}

@media (max-width: 640px) {}

@media (max-width: 1024px) {

  .hamburger-button {
    left: calc(2.125rem + 1px);
    opacity: 1;
    top: 2.5rem;
    font-size: 1.5rem;
    transition: left var(--responsiveTransition), top var(--responsiveTransition), opacity .2s var(--responsiveTransition), color .15s, font-size .15s, transform var(--responsiveTransition);

  }

  html,
  body {
    min-height: 670px;
  }

  .main {
    margin-top: -4rem;

    .main__wrapper {
      width: 100%;
      max-width: none;
    }

    .main__title {
      font-size: 1.75rem;
    }

    .main__item {
      padding: .75rem 1rem .75rem .875rem;
    }

    .main__count {
      font-size: 1.5rem;
    }

    .main__item-description {
      font-size: .875rem;
    }

    .main__item-duedate {
      font-size: calc(.75rem + 1px);
    }

    .main__item-name {
      font-size: 1.125rem;
      line-height: 1.3;
    }

    .main__item-setting {
      opacity: .5;
      font-size: .875rem;
      width: 1.75rem;
      height: 1.75rem;
    }
  }

  .nav {
    position: relative;
    margin-left: calc(-1 * var(--navSmallWidth));
    width: var(--navSmallWidth);
    min-width: var(--navSmallWidth);
    font-size: .875rem;
    padding: 1.5rem 1.5rem 2.5rem;
    transform: translateX(0);

    &.open {
      transform: translateX(var(--navSmallWidth));
      box-shadow: var(--colorHoverModerate) 0 0 .75rem 0;

    }

    h1 {
      font-size: 2.25rem;
    }
  }

  .nav-backdrop {
    content: "";
    display: block;
    position: fixed;
    background: transparent;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    transition: background .15s, z-index 0.05s .15s;
    opacity: .75;
  }

  body:has(.nav.open) .main__header {

    .main__title,
    .main__count {
      opacity: 0;
      transition: .15s;
    }
  }

  body:has(.nav.open) .nav-backdrop {
    background: var(--colorBackdrop);
    transition: background .75s, z-index 0s 0s;
    z-index: 1;
  }

  body:has(.nav.open) .hamburger-button {
    transform: translateX(calc(var(--navSmallWidth) - .5rem));
    color: var(--colorText);
    font-size: 2.25rem;
    text-shadow: var(--colorNav) 0 0 1rem, var(--colorNav) 0 0 2rem;

    &:hover {
      color: var(--colorTextDark);
      font-size: 2.55rem;
    }

    .icon-default {
      opacity: 0;
    }

    .icon-close {
      opacity: 1;
    }
  }

  .nav__item {
    padding: .375rem;
  }

  .nav__item-icon {
    margin-right: -.25rem;
  }

  .credits__upper {
    font-size: calc(.75em);
    margin-left: 1.75rem;
  }

  .main__add-task {
    font-size: .875rem;
  }

  .notifications {
    flex-direction: column-reverse;
    top: initial;
    bottom: 2.5rem;
  }

  .notification {
    font-size: calc(.875rem - 1px);
    padding: .25rem 1rem;
  }

  /* ---------------------------------- POPUP --------------------------------- */

  .popup {
    font-size: .875rem;
    overflow: hidden;
    max-width: initial;
    padding: 1.25rem 2rem;

    .popup__input:focus+label,
    .popup__input:not(:placeholder-shown)+label {
      font-size: 0.75rem;
      margin-top: .1rem;
    }

    .switch {
      width: 2.75rem;
    }

    .slider::before {
      width: calc(100% / 8 * 3);
    }

    input:checked+.slider {
      background-color: var(--colorText);
    }

    input:checked+.slider::before {
      -webkit-transform: translateX(calc(100% + .125rem));
      -ms-transform: translateX(calc(100% + .125rem));
      transform: translateX(calc(100% + .125rem));
    }
  }

  .popup__delete {
    /* padding: 1.5rem 2rem 1rem; */
    padding-bottom: 1rem;

    .popup__info-upper {
      font-size: 1.125rem;
    }

    .popup__info-lower {
      font-size: .875rem;
    }

    .popup__buttons {
      margin-top: 1.75rem;
    }
  }

  .popup__task {
    width: 400px;
    min-height: initial;
    /* padding: 1.5rem 2rem; */

    .popup__input-area {
      grid-row: initial;
    }

    .popup__form {
      grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
      grid-auto-rows: 2.5rem;
      gap: 1.25rem;
      margin: 1rem 0 0;
    }

    .popup__btn {
      position: static;
      bottom: initial;
      left: initial;
      transform: translateX(0);
      font-size: .875rem;
      padding: .5rem 1.25rem;
      margin: -1.5rem 0 0;
      grid-column: span 2;
      width: auto;
      justify-self: center;
      align-self: center;
    }

    .popup__input-title {
      grid-column: span 2;
    }

    .popup__input-description {
      grid-column: span 2;
      grid-row: span 2;

      .popup__input {
        padding-top: .375rem;
      }
    }

    .popup__input-isImportant {
      grid-column: span 2;
      justify-self: center;
    }
  }

  .popup__project {
    width: 270px;

    .popup__btn {
      position: relative;
      width: fit-content;
      margin: 0;
    }

    .popup__form {
      margin-bottom: 1.5rem;
    }

    .icon-options {
      flex-wrap: wrap;
      justify-content: space-between;
      width: 100%;

      label {
        flex: 0 0 calc(33.333% - .5rem);
        width: 1rem;
        height: 2.5rem;
        box-sizing: border-box;
      }
    }
  }
}