@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
  --colorBackground: #FCFBFA;
  --colorNav: #F7F4F0;
  --colorAccent: #c03d3d;
  --colorAccentLight: #D35D5C;
  --colorAccentInactive: #8f5d5d;
  --colorTextDark: #2e2828;
  --colorText: #4D4242;
  --colorTextLight: #827A79;
  --colorTextOpaque: #a09998;
  --colorTextSubtle: #c2bdbd;
  --colorBackdrop: rgba(0, 0, 0, .25);
  --colorHoverDark: rgba(0, 0, 0, .25);
  --colorHover: rgba(0, 0, 0, .075);
  --colorHoverLight: rgba(0, 0, 0, .03);
}

html,
body {
  height: 100%;
}

body {
  background: var(--colorBackground);
  font-family: "Space Grotesk", sans-serif;
  color: var(--colorText);
  display: flex;
}

/* ----------------------------------- NAV ---------------------------------- */

.nav {
  background: var(--colorNav);
  min-width: 320px;

  height: 100%;
  padding: 3rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  user-select: none;
}

.nav__title {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: -.5rem;
}

.nav__title--first {
  text-transform: uppercase;
  font-weight: bold;

}

.nav__title--second {
  font-weight: lighter;
  color: var(--colorAccent);
}

.divider {
  border: 1px solid var(--colorTextOpaque);
  z-index: 2;
}

.nav__section {
  display: flex;
  flex-direction: column;
}

.nav__section-title {
  font-size: 1.25rem;
  margin: .5rem 0 -.5rem
}

.nav__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  gap: 1rem;
  padding: .5rem;

  .nav__count {
    transition: .2s;
  }

  .nav__item-settings {
    transition: .15s;
  }

  &:hover {
    background: var(--colorHover);
    mix-blend-mode: multiply;
    cursor: pointer;

    .nav__count {
      transition: .15s;
    }

    .nav__item-settings {
      transition: .2s;
    }

    .nav__count {
      opacity: 0;
    }

    .nav__count.ignore {
      opacity: 1;
    }

    .nav__item-settings {
      opacity: 1;
    }
  }
}

.nav__item-setting {
  width: 1.5rem;
  height: 1.5rem;
  color: var(--colorTextOpaque);
  /* opacity: 1; */
  transition: .15s;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: .825rem;

  /* border: 1px solid red; */

  &:hover {
    color: var(--colorText);
  }
}

.nav__item-settings {
  position: absolute;
  right: 0;
  display: flex;
  gap: .125rem;
  opacity: 0;
  margin-right: .2rem;
}

.nav__item-icon {
  width: 1rem;
  height: 1rem;
  /* background: var(--colorTextLight); */
  color: var(--colorTextLight);
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav__item-name {
  flex-grow: 1;
}

.nav__count {
  gap: .75em;
}

.count {
  display: flex;
  text-align: right;
  font-family: "Space Mono", monospace;
}

.count--important {
  color: var(--colorAccentLight);
}

.count--default {
  color: var(--colorTextLight);
}

.nav__add-project {
  color: var(--colorTextLight);
}

/* ---------------------------------- MAIN ---------------------------------- */

.main {
  flex-grow: 1;
  padding: 3rem 2rem;
  display: flex;
  justify-content: center;
}

.main__wrapper {
  width: 100%;
  max-width: 800px;
}

.main__header {
  margin-top: calc(5.25rem - 2px);
  margin-bottom: 1rem;
  display: flex;
  align-items: flex-end;
  line-height: 1;
  gap: 1rem;
  /* position: relative; */
  padding: 0 1rem 0 2.875rem;
}

.main__title {
  font-size: 2.5rem;
}

.main__count {
  font-size: 2rem;
  gap: .5em;
  margin-bottom: 2px;
  flex-grow: 1;
}

.main__add-task {
  /* flex-grow: 1; */
  text-align: right;
  margin-bottom: -.25rem;
  color: var(--colorTextLight);
  /* position: absolute; */
  right: 0;
  padding: .5rem 1rem;


  &:hover {
    background: var(--colorNav);
    cursor: pointer;

  }
}

.main__tasks {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  /* gap: .25rem; */
  /* padding-right: 1rem; */
}

.main__item {
  display: grid;
  grid-template-columns: auto 1fr auto auto;
  column-gap: 1rem;
  align-items: center;
  /* line-height: 1; */
  padding: 1rem 2rem 1rem 1rem;
  transition: all .1s, background-color .1s;

  &:hover {
    /* box-shadow: 0 0 .25rem rgba(0, 0, 0, .2); */
    background: var(--colorNav);
    /* transition: .1s; */
    cursor: pointer;
  }

  &:hover>.main__item-setting {
    opacity: 1;
  }
}

.main__item-checkbox {
  grid-column: 1;
  grid-row: 2;
  width: 1rem;
  height: 1rem;
  border: 2px solid var(--colorTextLight);
  transition: .1s;
}

.main__item-duedate {
  grid-column: 2;
  font-size: .875rem;
  color: var(--colorTextLight);
  line-height: 1.3;
  letter-spacing: .01em;
}

.main__item-name {
  grid-column: 2;
  grid-row: 2;
  font-weight: bold;
  font-size: 1.5rem;
  /* line-height: 1.5; */
}

.main__item-description {
  grid-column: 2;
  grid-row: 3;
  font-size: 1rem;
  /* line-height: 1.5; */
}

.main__item-setting {
  grid-row: 2;
  width: 1rem;
  height: 1rem;
  color: var(--colorTextOpaque);
  opacity: 0;
  transition: .1s;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    color: var(--colorText);
  }
}

.main__item-edit {}

.main__item-delete {}

.main__item--important {

  &,
  &>* {
    color: var(--colorAccent);
    border-color: var(--colorAccent);
  }
}

.main__item.completed {
  --colorComplete: var(--colorTextLight);
  text-decoration: line-through;

  &.main__item--important {
    --colorComplete: var(--colorAccentInactive);
  }


  &,
  &>* {
    color: var(--colorComplete);

  }

  .main__item-checkbox {
    border-color: var(--colorComplete);
    background-color: var(--colorComplete);
  }
}

/* ---------------------------------- POPUP --------------------------------- */

dialog:not([open]) {
  display: none !important;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -55%);
  background: var(--colorBackground);
  padding: 1.5rem 2rem;
  color: var(--colorText);
  display: flex;
  width: fit-content;
  flex-direction: column;
  gap: .625rem;
  border: none;
  box-shadow: 0 0 1rem 0 var(--colorHoverDark);
  z-index: 10;

  &::backdrop {
    background: var(--colorBackdrop);
  }
}

.popup__task {
  width: 700px;
}

.popup__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popup__exit {
  font-size: 1.5rem;
  color: var(--colorTextOpaque);
  transition: .15s;

  &:hover {
    color: var(--colorText);
    cursor: pointer;
  }
}

.popup__input-area {
  position: relative;

  label {
    display: block;
    position: absolute;
    top: .5rem;
    padding: 0 .625rem;
    transition: .2s;

    span {
      position: relative;
      z-index: 2;
    }

    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 50%;
      right: 50%;
      /* width: 0; */
      /* height: 1rem; */
      background: var(--colorBackground);
      transition: .2s;
      z-index: 1;
    }
  }

  .popup__input:focus+label,
  .popup__input:not(:placeholder-shown)+label {
    top: -0.65rem;
    /* left: 0.5rem; */
    font-size: 0.8rem;
    color: var(--colorText);

    &::before {
      /* width: calc(100% + .5rem); */
      left: .375rem;
      right: .375rem;
    }
  }
}

select.popup__input {
  border-radius: 0;
  background: transparent;
}

.popup__input {
  padding: 0 .625rem;
  border: 1px solid var(--colorTextOpaque);
  width: 100%;
  height: 100%;
  resize: none;
  background: var(--colorBackground);
  transition: .15s;
  outline: 1px solid transparent;

  &:focus {
    outline: 1px solid var(--colorTextLight);
    border-color: var(--colorTextLight);
    border-radius: 2px;

    &+label span {
      color: var(--colorText);
    }
  }
}

.popup__form {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-auto-rows: 2.5rem;
  gap: 1.75rem;
  margin: 1rem 0 5.5rem;
}

.popup__project .popup__form {
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.popup__project .popup__input {
  height: 2.5rem;
}

.icon-options {
  display: flex;
  flex-wrap: nowrap;
  gap: .5rem;
  width: 100%;
}

.icon-options label {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid transparent;
  cursor: pointer;
  position: static;
  padding: .5rem;

  &::before {
    display: none;
  }
}

.icon-options input[type="radio"] {
  display: none;
  /* Hide the default radio */
}

.icon-options label {
  font-size: 1.25rem;
  color: var(--colorTextSubtle);
  transition: .15s;
  flex: 0 0 auto;

  i {
    transition: .15s;
  }

  &:hover {
    color: var(--colorTextLight);
    border-color: var(--colorTextSubtle);
  }
}

.icon-options input[type="radio"]:checked+i {
  color: var(--colorText);
}

.icon-options input[type="radio"]:checked~i {
  color: var(--colorText);
}

.icon-options label:has(input[type="radio"]:checked) {
  border-color: var(--colorText);
}

.popup__project {
  display: inline-flex;
  width: fit-content;
}

.popup__input-icon {
  border: 1px solid var(--colorTextOpaque);
  align-self: stretch;
  justify-self: stretch;
  height: 100%;
  padding: .75rem;
  width: auto;
  min-width: 100%;
  margin-bottom: -.25rem;

  p {
    position: absolute;
    left: .75rem;
    top: -.675rem;
    font-size: .8rem;

    span {
      position: relative;
      z-index: 2;
    }

    &::before {
      content: "";
      background: var(--colorBackground);
      width: calc(100% + .75rem);
      transform: translateX(-.375rem);
      height: 20px;
      display: block;
      position: absolute;
      z-index: 1;
    }
  }
}

.popup__input-description {
  grid-row: 2 / span 2;
  justify-self: stretch;
  align-self: stretch;

  .popup__input {
    padding-top: .25rem;
    padding-bottom: .25rem;
    height: 100% !important;
    margin-bottom: 0;
  }
}

.popup__btn {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background: var(--colorText);
  color: var(--colorBackground);
  border: none;
  padding: .375rem 1.5rem;
  cursor: pointer;
  margin: 2.5rem 0;
  transition: .15s;

  &:hover {
    background: var(--colorTextLight);
  }
}

.popup__input-date {
  cursor: pointer;
}

.popup__input-isImportant {
  display: flex;
  grid-column: 2;
  grid-row: 3;
  /* justify-content: center; */
  margin-top: -.5rem;
  align-items: center;
  align-self: flex-start;
  justify-self: flex-start;

  .isImportant-label {
    position: relative;
    /* color: red; */
    cursor: pointer;
    padding-left: .25rem;
  }

  /* The switch - the box around the slider */
  .switch {
    position: relative;
    display: inline-block;
    width: 3rem;
    height: 75%;
    margin-left: .25rem;

    /* &:hover .slider {
      background-color: var(--colorTextLight);
    } */
  }

  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--colorTextSubtle);
    -webkit-transition: .4s;
    transition: all .4s, background-color .15s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: calc(100% - .5rem);
    width: calc(100% / 5 * 2);
    left: .25rem;
    bottom: .25rem;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }

  input:checked+.slider {
    background-color: var(--colorText);
  }

  input:checked+.slider:before {
    -webkit-transform: translateX(calc(100% + .125rem));
    -ms-transform: translateX(calc(100% + .125rem));
    transform: translateX(calc(100% + .125rem));
  }
}