@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
  --colorBackground: #FCFBFA;
  --colorNav: #F7F4F0;
  --colorAccent: #c03d3d;
  --colorAccentLight: #D35D5C;
  --colorText: #4D4242;
  --colorTextLight: #827A79;
  --colorHover: rgba(0, 0, 0, .075);
  --colorHoverLight: rgba(0, 0, 0, .03)
}

html,
body {
  height: 100%;
}

body {
  background: var(--colorBackground);
  font-family: "Space Grotesk", sans-serif;
  color: var(--colorText);
  display: flex;
}

/* ----------------------------------- NAV ---------------------------------- */

.nav {
  background: var(--colorNav);
  width: 320px;
  height: 100%;
  padding: 3rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  user-select: none;
}

.nav__title {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: -.5rem;
}

.nav__title--first {
  text-transform: uppercase;
  font-weight: bold;

}

.nav__title--second {
  font-weight: lighter;
  color: var(--colorAccent);
}

.divider {
  border: 1px solid var(--colorTextLight);
  /* border-top: none; */
}

.nav__section {
  display: flex;
  flex-direction: column;
  /* gap: .5rem; */
}

.nav__section-title {
  /* margin-left: .5rem; */
  font-size: 1.25rem;
  margin: .5rem 0 -.5rem
}

.nav__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: .5rem;

  &:hover {
    background: var(--colorHover);
    mix-blend-mode: multiply;
    cursor: pointer;
  }
}

.nav__item-icon {
  width: 1rem;
  height: 1rem;
  background: var(--colorTextLight);
}

.nav__item-name {
  flex-grow: 1;
}

.nav__count {
  gap: .75em;
}

.count {
  display: flex;
  text-align: right;
  font-family: "Space Mono", monospace;
}

.count--important {
  color: var(--colorAccentLight);
}

.count--default {
  color: var(--colorTextLight);
}

.nav__add-project {
  color: var(--colorTextLight);
}

/* ---------------------------------- MAIN ---------------------------------- */

.main {
  flex-grow: 1;
  padding: 3rem 2rem;
  display: flex;
  justify-content: center;
}

.main__wrapper {
  width: 100%;
  max-width: 800px;
}

.main__header {
  margin-top: calc(5.25rem - 2px);
  margin-bottom: 1rem;
  display: flex;
  align-items: flex-end;
  line-height: 1;
  gap: 1rem;
  /* position: relative; */
  padding: 0 1rem 0 2.875rem;
}

.main__title {
  font-size: 2.5rem;
}

.main__count {
  font-size: 2rem;
  gap: .5em;
  margin-bottom: 1px;
  flex-grow: 1;
}

.main__add-task {
  /* flex-grow: 1; */
  text-align: right;
  margin-bottom: -.25rem;
  color: var(--colorTextLight);
  /* position: absolute; */
  right: 0;
  padding: .5rem 1rem;


  &:hover {
    background: var(--colorNav);
    cursor: pointer;

  }
}

.main__tasks {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  /* gap: .25rem; */
  /* padding-right: 1rem; */
}

.main__item {
  display: grid;
  grid-template-columns: auto 1fr auto auto;
  column-gap: 1rem;
  align-items: center;
  /* line-height: 1; */
  padding: 1rem 2rem 1rem 1rem;

  &:hover {
    /* box-shadow: 0 0 .25rem rgba(0, 0, 0, .2); */
    background: var(--colorNav);
    transition: .1s;
    cursor: pointer;
  }

  &:hover>.main__item-icon {
    opacity: 1;
  }
}

.main__item-checkbox {
  grid-column: 1;
  grid-row: 2;
  width: 1rem;
  height: 1rem;
  border: 2px solid var(--colorTextLight);
}

.main__item-duedate {
  grid-column: 2;
  font-size: .875rem;
  color: var(--colorTextLight);
  line-height: 1.3;
}

.main__item-name {
  grid-column: 2;
  grid-row: 2;
  font-weight: bold;
  font-size: 1.5rem;
  /* line-height: 1.5; */
}

.main__item-description {
  grid-column: 2;
  grid-row: 3;
  font-size: 1rem;
  /* line-height: 1.5; */
}

.main__item-icon {
  grid-row: 2;
  width: 1rem;
  height: 1rem;
  background: var(--colorText);
  opacity: 0;
  transition: .1s;
}

.main__item-edit {}

.main__item-delete {}

.main__item--important {

  &,
  &>* {
    color: var(--colorAccent);
    border-color: var(--colorAccent);
  }
}

.main__item--completed {}